<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>

    <script>
      tinymce.init({
        selector: "#content",
        forced_root_block: false,
      });
    </script>
    <title>My Blog</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="/"><img src="logo.png" alt="logo" /></a>
        <h1>My Blog</h1>
      </header>
    </div>
  </body>
</html>
